/* Global Styles */


/* Header Styles */
header{
  border: black solid 1px;
  height: 64px;
  padding: 0 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

header img{
  height: 32px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  word-spacing: -0.175em;
  border: black solid 1px;
}

nav{
  border: black solid 1px;
}

nav span{
  display: inline-block;
  margin-left: 16px;
  border: black solid 1px;
}

/* banner styles */
.banner,
.information,
.thesisContent{
  border: 1px solid black;
  width: 100%;
  display: flex;
}

.banner{
  background-color: grey;
}

.banner .img-container,
.main-article{
  width: 60%;
  margin: 32px 24px;
  border: 1px solid red;
}

.banner img,
.main-article img,
.side-item img{
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid blue;
}

.banner .content,
.side-bar{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.banner .btn{
  padding: 8px 0;
  width: 60%;
  border: 1px solid black;
  background-color: darkgrey;
  text-align: center;
}

/* information styles */
.side-bar{
  border-left: 1px grey solid;
}

.side-bar .side-item{
  padding: 16px;
  display: flex;
  align-items: center;
}

.side-item .img-container{
  width: 35%;
  height: auto;
  border: 1px red solid;
}

.side-bar .content{
  width: 65%;
  padding: 0 16px;
}

.side-item .content span,
.gallery-item span{
  display: block;
}

.information .side-item:last-child{
  border-top: grey 3px solid;
  background-color: grey;
}

.information .side-item:first-child{
  border-bottom: grey 3px solid;
}

.side-bar, h1, h5,
.side-item{
  border: black solid 1px;
}

.main-article .content,
.side-bar .content{
  border: 1px green solid;
}

/* learning styles -- courses offered */
.learning{
  padding: 32px 56px;
  background-color: grey;
}

.gallery-row{
  display: flex;
}

.gallery-item{
  width: 33%;
  margin: 32px 16px 0 16px;
  background-color: white;
}

.gallery-item .content{
  margin: 16px 16px 24px 16px;
  border: black solid 1px;
}

.gallery-item img{
  display: block;
  width: 100%;
  height: auto;
}

video{
  width: 100%;
  height: auto;
  display: block;
}

.thesis h1{
  width: 100%;
}

.thesis .side-bar{
  justify-content: flex-start;
  padding-top: 32px;
}

.thesis .side-item:first-child{
  background-color: grey;
}

footer{
  border: black solid 1px;
  padding: 16px 24px 32px 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.copyright{
  flex-grow: 1;
  border: black solid 1px;
}
