/* Global Styles */
html{
  font-family: 'Lora', serif;
  font-size: 15px;
  color: #323233;
}

body{
  /* background-color: #eee2dc; */
}

h1{
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #323233;
}

h5{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.25;
  color: #323233;
}

a{
  text-decoration: none;
  color: #323233;
}

@media only screen and (min-width: 481px) {
  .mobile{display: none;}
}

/* Header Styles */
header{
  height: 64px;
  padding: 0 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-weight: bold;
}

header img{
  height: 32px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  word-spacing: -0.175em;
}

.logoText .colored{
  color: #C0C0C2;
}

nav span{
  display: inline-block;
  margin-left: 16px;
}

@media only screen and (max-width: 480px){
  nav,
  .logo{
    display: none;
  }

  header{
    padding: 0;
  }

  header .mobile{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
  }
}

.banner,
.information,
.thesisContent{
  width: 100%;
  display: flex;
}

.banner{
  background-color: #C0C0C2;
}

.banner .img-container,
.main-article{
  width: 60%;
  margin: 32px 24px;
}

.banner img,
.main-article img,
.side-item img{
  display: block;
  width: 100%;
  height: auto;
}

.banner .content,
.side-bar{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
}

.banner h5{
  margin: 32px 0;
}

.banner .btn{
  padding: 8px 0;
  width: 60%;
  background-color: #323233;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 480px){
  .banner{
    flex-wrap: wrap;
  }

  .banner .img-container{
    width: 100%;
    margin: 0;
  }

  .banner h5{
    margin: 32px 0 24px 0;
  }

  .banner .content{
    width: inherit;
    margin: 32px 16px;
  }

  .banner .btn{
    width: 100%;
  }
}

.side-bar{
  border-left: 1px #C0C0C2 solid;
}

.side-bar .side-item{
  padding: 16px;
  display: flex;
  align-items: center;
}

.side-item .img-container{
  width: 35%;
  height: auto;
}

.side-bar .content{
  width: 65%;
  padding: 0 16px;
}

.side-item .content span,
.gallery-item span{
  display: block;
}

.information .side-item:last-child{
  border-top: #C0C0C2 3px solid;
  background-color: #C0C0C2;
}

.information .side-item:first-child{
  border-bottom: #C0C0C2 3px solid;
}

.information h1{
  margin-top: 32px;
}

.information p{
  margin: 24px 0;
}

.information .main-article .content span{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #323233;
}

.side-bar .content span,
.learning span{
  margin-top: 8px;
  word-spacing: 0em;
  line-height: 1.5;
}

.side-bar .content a{
  color: #438DB3;
}

@media only screen and (max-width: 480px){
  .desktop img,
  .information .main-article{
    display: none;
  }

  .information{
    border-bottom: 1px #C0C0C2 solid;
  }

  .information .side-bar{
    width: inherit;
  }

  .side-item .img-container,
  .side-item .content{
    width:inherit;
  }

  .information img{
    margin-bottom: 16px;
  }

  .side-item{
    display: flex;
    flex-wrap: wrap;
  }

  .side-bar .side-item{
    padding-bottom: 48px;
  }

  .information .side-item:last-child{
    border-top: none;
    background-color: white;
    padding-bottom: 32px;
  }

  .information .side-item:first-child{
    border-bottom: none;
  }
}

.learning{
  padding: 32px 56px;
  background-color: #C0C0C2;
}

.learning h1{
  text-align: center;
}

.gallery-row{
  display: flex;
}

.gallery-item{
  width: 33%;
  margin: 32px 16px 0 16px;
  background-color: white;
}

.gallery-item .content{
  margin: 16px 16px 24px 16px;
}

.gallery-item img{
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 480px){
  .gallery{
    display: none;
  }

  .learning{
    background-color: white;
    padding:0;
    margin: 32px 16px;
  }

  .learnlist{
    display: flex;
    flex-direction: column;
  }

  .course{
    margin-top: 8px;
    padding: 16px 16px 24px 16px;
    background-color: #C0C0C2;
  }

  .course:first-child{
    margin-top: 16px;
  }
}


video{
  width: 100%;
  height: auto;
  display: block;
}

.thesis .side-bar span,
.thesis p{
  line-height: 1.5;
}

.thesis h1{
  width: 100%;
  text-align: center;
  margin-top: 32px;
}

.thesis .side-bar{
  justify-content: flex-start;
  padding-top: 32px;
  border: none;
}

.thesis .main-article h5{
  margin-top: 24px;
  margin-bottom: 8px;
}

.thesis .side-item:first-child{
  background-color: #C0C0C2;
}

@media only screen and (max-width: 480px){
    .thesis{
      margin: 64px 0 24px 0;
      border-top: 1px #C0C0C2 solid;
    }

    .thesis .content,
    .thesis .side-bar{
      display: none;
    }

    .main-article{
      width: inherit;
      margin: 16px 0 0 0;
    }
}

footer{
  border-top: #C0C0C2 solid 1px;
  padding: 16px 24px 32px 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: 12px;
}

.copyright{
  flex-grow: 1;
}

@media only screen and (max-width: 480px){
    footer{
      padding: 16px 24px;
      border-top: none;
    }
}
