/* Global Styles */


/* Header Styles */
header{
  border: black solid 1px;
  height: 64px;
  padding: 0 24px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}

header img{
  height: 32px;
}

.logo{
  display: flex;
  align-items: center;
  flex-grow: 1;
  text-transform: uppercase;
  word-spacing: -0.175em;
  border: black solid 1px;
}

nav{
  border: black solid 1px;
}

nav span{
  display: inline-block;
  margin-left: 16px;
  border: black solid 1px;
}
